
title{
    font-size: 25px;
    color:black
}
h1{
    color:black;
    text-decoration:underline;
    font-size:20px;
}
h2{
    color:blue;
    text-decoration:underline;
    font-size:18;
}
#kep{
    width: 400px;
    height: 250px;
    float:right;
}




